<!DOCTYPE html>
<html>
    <head>
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/@mdi/font@4.x/css/materialdesignicons.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
    <script src="https://unpkg.com/vue"></script>
    </head>
    <style>
        a{
            color: black !important;
            text-decoration: none;
        }
    </style>
    <body>
        <div id="app">
            <v-app> 
                <v-content>
                    <v-row justify="space-between" class="fill-height">
                        <v-col cols="1" class="blue">
                            <v-container>
                                <h2>Dashboard</h2>
                                <ul >
                                    <v-list-item><a href="/dashboard">Dashboard</a></v-list-item>
                                    <v-list-item><a href="/calendar">Calendar</a></v-list-item>
                                    <v-list-item><a href="/lists">Lists</a></v-list-item>
                                    <v-list-item><a href="/logout">Logout</a></v-list-item>
                                </ul>
                            </v-container>
                        </v-col>
                        <v-col cols="4">
                            <v-container class="ml-10">
                                <h1>Upcoming Events/Tasks</h1>
                                <v-simple-table>
                                    <template>
                                        <thead>
                                            <tr>
                                                <th>
                                                    Date
                                                </th>
                                                <th>
                                                    Name
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for item in all_upcoming %}
                                            <tr>
                                                <td>
                                                    {{item}}
                                                </td>
                                                <td>
                                                    {{item.start_date|date:"M d, Y" }} {{item.due_date|date:"M d, Y" }}
                                                </td>
                                            </tr>
                                            {% endfor %}
                                        </tbody>
                                    </template>
                                </v-simple-table>
                            </v-container>
                        </v-col>
                        <v-divider vertical>
                        </v-divider>
                        <v-col cols="5" class="mr-8 mt-8">
                            <v-row>
                                <template>
                                    <v-row>
                                        <v-col>
                                            <v-sheet height="500">
                                                <v-calendar
                                                    @click:date="viewDay"
                                                >
                                                </v-calendar>
                                            </v-sheet>
                                            <v-card v-if="daySelected" class="mt-10">
                                                <v-card-title>[[date]]</v-card-title>
                                                <v-card-text v-for="item in dayItems" :key="name">
                                                    <a href="/dashboard">[[item.name]]</a>
                                                    <a :href="'/list/' + item.task_list_id">[[item.task]]</a>         
                                                </v-card-text>
                                            </v-card>
                                        </v-col>
                                    </v-row>
                                  </template>
                            </v-row>
                        </v-col>
                    </v-row>
                </v-content>
            </v-app>
        </div>
    </body>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
    <script>
        new Vue({
            delimiters: ['[[', ']]'],
            vuetify: new Vuetify(),
            el: '#app',
            data: function () {
                return {
                    date: "",
                    daySelected: false,
                    dayItems: [],
                }
            },
            methods:{
                viewDay ({ date }) {
                    fetch('http://localhost:8000/api/day/' + date)
                        .then(response => response.json())
                        .then(data => {
                            this.date = date
                            this.daySelected = true
                            this.dayItems = data.day_items
                        })
                        .catch(error => console.log(error))
                },
            }
        })
    </script>
</html>