<!DOCTYPE html>
<html>
    <head>
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/@mdi/font@4.x/css/materialdesignicons.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
    <script src="https://unpkg.com/vue"></script>
    </head>
    <style>
        a{
            color: black !important;
            text-decoration: none;
        }
    </style>
    <body>
        <div id="app">
            <v-app> 
                <v-content>
                    <v-row justify="space-between" class="fill-height" >
                        <v-col cols="1" class="blue">
                            <v-container>
                                <h2>Dashboard</h2>
                                <ul >
                                    <v-list-item><a href="/dashboard">Dashboard</a></v-list-item>
                                    <v-list-item><a href="/calendar">Calendar</a></v-list-item>
                                    <v-list-item><a href="/lists">Lists</a></v-list-item>
                                </ul>
                            </v-container>
                        </v-col>
                        <v-col cols="10">
                            <v-container class="ml-10">
                                <h1>{{task_list}}</h1>
                                <v-simple-table>
                                    <template>
                                        <thead>
                                            <tr>
                                                <th>
                                                    Status
                                                </th>
                                                <th>
                                                    Name
                                                </th>
                                                <th>
                                                    Date
                                                </th>
                                                <th>
                                                    Actions
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for item in list_items %}
                                                {% if item.completed == True %}
                                                <tr class="green" id="row{{item.id}}">
                                                    <td>
                                                        <input @click="toggle_complete('{{item.id}}')" type="checkbox" checked>
                                                    </td>
                                                    <td>
                                                        {{item.task}}
                                                    </td>
                                                    <td>
                                                        
                                                        {{item.due_date|date:"M d, Y" }}
                                                    </td>
                                                    <td>
                                                        <button @click="open_edit('{{item.id}}', '{{item.task}}', '{{item.due_date}}')" title="EDIT" class="mdi mdi-lead-pencil"></button>
                                                        <a href="/listitem/delete/{{item.id}}/{{task_list.id}}" title="DELETE" class="mdi mdi-trash-can"></a>
                                                    </td>
                                                </tr>
                                                {% endif %}
                                                {% if item.completed == False %}
                                                <tr id="row{{item.id}}">
                                                    <td>
                                                        <input @click="toggle_complete('{{item.id}}')" type="checkbox">
                                                    </td>
                                                    <td>
                                                        {{item.task}}
                                                    </td>
                                                    <td>
                                                        {{item.due_date|date:"M d, Y" }}
                                                    </td>
                                                    <td>
                                                        <button @click="open_edit('{{item.id}}', '{{item.task}}', '{{item.due_date}}')" title="EDIT" class="mdi mdi-lead-pencil"></button>
                                                        <a href="/listitem/delete/{{item.id}}/{{task_list.id}}" title="DELETE" class="mdi mdi-trash-can"></a>
                                                    </td>
                                                </tr>
                                                {% endif %}
                                            {% endfor %}
                                            <tr>
                                            </tr>
                                        </tbody>
                                    </template>
                                </v-simple-table>
                                
                                <v-form action="/listitem/new/{{task_list.id}}" method="POST">
                                    {% csrf_token %}
                                    <v-divider class="mb-10"></v-divider>
                                    <h2>New Task</h2>
                                    <v-row>
                                        <v-col>
                                            <v-text-field 
                                                type="text" 
                                                name="task"
                                                placeholder="NEW TASK"
                                                :rules="[rules.required]"
                                                counter
                                                maxlength="120">
                                            </v-text-field>
                                        </v-col>
                                        <v-col>
                                            <v-text-field 
                                                type="date" 
                                                :rules="[rules.required]"
                                                name="due_date">
                                            </v-text-field>
                                        </v-col>
                                        <v-col>
                                            <v-btn type="submit" class="blue">Submit</v-btn>
                                        </v-col>
                                    </v-row>
                                </v-form>
                                <v-dialog max-width="700" v-model="edit">
                                    <v-card  class="pa-5">
                                        <v-form :action="`/listitem/edit/${edit_id}/{{task_list.id}}`" method="POST">
                                            {% csrf_token %}
                                            <h2>Edit Task</h2>
                                            <v-text-field 
                                                id="edit_task"
                                                type="text" 
                                                name="task"
                                                v-model="edit_task_title"
                                                placeholder="edit task"
                                                :rules="[rules.required]"
                                                counter
                                                maxlength="120">
                                            </v-text-field>
                                            <v-text-field 
                                                type="date"
                                                v-model="edit_task_date"
                                                :rules="[rules.required]" 
                                                name="due_date">
                                        </v-text-field>
                                        <v-btn type="submit" class="blue">Submit</v-btn>
                                        </v-form>
                                    </v-card>
                                    
                                </v-dialog>
                            </v-container>
                        </v-col>
                    </v-row>
                </v-content>
            </v-app>
        </div>
    </body>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
    <script>
        new Vue({
            delimiters: ['[[', ']]'],
            vuetify: new Vuetify(),
            el: '#app',
            data: {
                edit: false,
                edit_id: 0,
                edit_task_title: "",
                edit_task_date: "",
                edit_due_date: "",
                rules: {
                    required: value => !!value || 'Required.',
                },
            },
            methods: {
                toggle_complete(task_id){
                    var element = document.getElementById("row" + task_id);
                    element.classList.toggle("green");
                    fetch('http://localhost:8000/api/task/complete/' + task_id)
                        .then(response => response.json())
                        .then(data => {
                            console.log(data)
                        })
                        .catch(error => console.log(error))
                },
                open_edit(id, task, due_date){
                    this.edit = true
                    this.edit_id = id
                    this.edit_task_title = task
                    this.edit_task_date = this.format_date(due_date)
                },
                format_date(date){
                    date = date.replace(/,/g, "")
                    var months = {
                        "Jan.": "01",
                        "Feb.": "02",
                        "March": "03",
                        "April": "04",
                        "May": "05",
                        "June": "06",
                        "July": "07",
                        "Aug.": "08",
                        "Sept.": "09",
                        "Oct.": "10",
                        "Nov.": "11",
                        "Dec.": "12"
                    }
                    split_date = date.split(" ")
                    if(split_date[1].length <=1){
                        split_date[1] = "0" + split_date[1]
                    }
                    formatted_date = split_date[2] + "-" + months[split_date[0]] + "-" + split_date[1]
                    return formatted_date
                }
            }
        })
    </script>
</html>
